.header {
  background-color: darkcyan;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin-bottom: 100px;
  margin-top: 100px;

}
.back {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: white;
}

.badge {
  
  float: right;
  margin-top: -5px;
  margin-left: -5px;
}

.side {
  background-color: darkcyan;
  display: block;

}

.newlist {
  background-color: darkcyan;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: left;

}


